@import "tailwindcss" layer(base);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

/* Color Theme Swatches in Hex */
.Teal-and-Gray-1-hex { color: #00747C; }
.Teal-and-Gray-2-hex { color: #00BBC9; }
.Teal-and-Gray-3-hex { color: #CACACA; }
.Teal-and-Gray-4-hex { color: #878787; }
.Teal-and-Gray-5-hex { color: #202022; }
.Teal-and-Gray-6-hex { color: #FF6B35; }

/* Color Theme Swatches in RGBA */
.Teal-and-Gray-1-rgba { color: rgba(0, 116, 124, 1); }
.Teal-and-Gray-2-rgba { color: rgba(0, 186, 200, 1); }
.Teal-and-Gray-3-rgba { color: rgba(202, 202, 202, 1); }
.Teal-and-Gray-4-rgba { color: rgba(135, 135, 135, 1); }
.Teal-and-Gray-5-rgba { color: rgba(31, 31, 33, 1); }

/* Color Theme Swatches in HSLA */
.Teal-and-Gray-1-hsla { color: hsla(183, 100, 24, 1); }
.Teal-and-Gray-2-hsla { color: hsla(184, 100, 39, 1); }
.Teal-and-Gray-3-hsla { color: hsla(0, 0, 79, 1); }
.Teal-and-Gray-4-hsla { color: hsla(0, 0, 52, 1); }
.Teal-and-Gray-5-hsla { color: hsla(240, 3, 12, 1); }


.hover-underline-animation
{
	position: relative;
}

.hover-underline-animation::after
{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0px;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}


.hover-underline-animation:hover::after
{
	transform: scaleX(1);
	transform-origin: bottom left;
}


.animate-fade-in
{
	animation: fade-in 0.6s ease-out forwards;
}


.bg
{
	background-color: #878787;
}

.text-blue
{
	color: #00BBC9;
	@apply text-xs px-2;
}

.box-blue
{
	border-color: #00747C;
	box-shadow: 0 0 10px #CACACA;
}

.btn-contrast
{
	@apply pt-0 pb-1 pl-1 pr-1 border-t-2 border-l-2 border-r-2;
 	border-color: #FF6B35;
 	color: #FF6B35;
 	background-color: #CACACA;
}


.drop-zone {
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.drop-zone.dragover {
  background: #f0f0f0;
}

/* 
sm:

md:

lg:

xl:

2xl: */


.matchcar-wrap
{
	@apply bg-gray-300 rounded-md overflow-hidden relative aspect-square;
    width: 100%;
	height: 100%;
    max-width: 300px;
	max-height: 300px;
    margin: 0 auto;
	
}

.matchcar-track
{	
	@apply flex transition-transform duration-300 ease-in-out h-full;
}
.matchcar-slide
{
	@apply min-w-full h-full relative overflow-hidden;
}

.matchcar-img
{
	@apply w-full h-full object-cover;
}

.matchcar-prev, .matchcar-next
{
	@apply absolute bg-blue-700 opacity-40 rounded-full;
	width: 6%;
	height: 6%;
	cursor: pointer;
	z-index: 1001;
	transform: translateY(-850%);
}
.matchcar-prev
{
	left: 0;
}

.matchcar-next
{
	right: 0;
}
